/*------------------------------------*\
    $FOOTER
\*------------------------------------*/

.site-footer {
	font-size: $font-size__small-2;
	position: fixed;
	z-index: -1;
	bottom: 0;
	left: 0;
	width: 100%;
	color: $white;
	background: $gray-dark;
}
