/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.site-header {
	@extend .cf;
	padding: $space-double;
}
.site-branding {
	position: relative;
	display: block;
	line-height: 1.2;
	&__logo {
		//display: block;
		position: absolute;
		width: $space-double;
	}
	&__title {
		display: block;
		padding-left: ($space-double) + ($pad-half);
	}
	a {
		color: $font__color;
		&:hover, &:focus {
			color: $font__color;
		}
	}
	sep {
		display: none;
	}
}
.site-title {
	//max-width: $logo-width;
	//display: block;
	//overflow: hidden;
	font-weight: bold;
}
.site-description {
	display: block;
	clear: both;
	font-size: $font-size__small-2;
	line-height: 1;
}
.logo {
	max-width: $logo-width;
	width: 100%;
	//@include pix-rem(max-width, 80);
}
.page-hero {
	border-top: $border__thick solid $brand__one;
	position: relative;
	z-index: -1;
	background: $gray-dark;
	&__img-contain {
		&.img-fit {
			padding-top: 50%;
		}
	}
	@media screen and (min-width: $nav-break) {


		.hero-top & {
			padding-top: 50%;
			&__img-contain {
					position: fixed;
					border-top: $border__thick solid $brand__one;
					top: 0;
					left: 0;
					width: 100%;
					z-index: -10;
			}
		}
	}
}