/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.site-header {
	@extend .cf;
	padding: $space-double;
}
.site-branding {
	position: relative;
	display: block;
	line-height: 1.2;
	&__logo {
		//display: block;
		position: absolute;
		width: $space-double;
	}
	&__title {
		display: block;
		padding-left: ($space-double) + ($pad-half);
	}
	a {
		color: $font__color;
		&:hover, &:focus {
			color: $font__color;
		}
	}
	sep {
		display: none;
	}
}
.site-title {
	//max-width: $logo-width;
	//display: block;
	//overflow: hidden;
	font-weight: bold;
}
.site-description {
	display: block;
	clear: both;
	font-size: $font-size__small-2;
	line-height: 1;
}
.logo {
	max-width: $logo-width;
	width: 100%;
	//@include pix-rem(max-width, 80);
}