/*------------------------------------*\
    $HEADER
\*------------------------------------*/

.site-header {
	@extend .cf;

	padding: $space-double;
}
.site-branding {
	line-height: 1.2;
	position: relative;
	display: block;
	&__logo {
		//display: block;
		position: absolute;
		width: $space-double;
	}
	&__title {
		display: block;
		padding-left: ($space-double) + ($pad-half);
	}
	a {
		color: $font__color;
		&:hover,
		&:focus {
			color: $font__color;
		}
	}
	sep {
		display: none;
	}
}
.site-title {
	//max-width: $logo-width;
	//display: block;
	//overflow: hidden;
	font-weight: bold;
}
.site-description {
	font-size: $font-size__small-2;
	line-height: 1;
	display: block;
	clear: both;
}
.logo {
	width: 100%;
	max-width: $logo-width;
	//@include pix-rem(max-width, 80);
}
.page-hero {
	position: relative;
	z-index: -1;
	border-top: $border__thick solid $brand__one;
	//background: $brand__one;
	background: $gray-dark;
	&__img-contain {
		&.img-fit {
			padding-top: 50%;
		}
	}
	.home & {
		background: $brand__one;
	}
	@media screen and (min-width: $nav-break) {
		.hero-top & {
			padding-top: 50%;
			&__img-contain {
				position: fixed;
				z-index: -200;
				top: 0;
				left: 0;
				width: 100%;
				border-top: $border__thick solid $brand__one;
			}
		}
	}
}
