/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   {
	font: $font__headings;
	line-height: $font__line-height-headers;
}

h2, .beta    {
	font: $font__headings;
	line-height: $font__line-height-headers;
}

h3, .gamma   {
	font: $font__headings;
	line-height: $font__line-height-headers;
}

h4, .delta   {
	font: $font__headings;
}

h5, .epsilon {
	font: $font__headings;
}

h6, .zeta    {
	font: $font__headings;
}

/* Subheadings */
.subheading {
	font-family: $font__secondary;
	font-weight: normal;
}
