/* Headings */
/*Further Reading: http:/csswizardry.com/2012/02/pragmatic-practical-font-sizing-in-css/ */
h1, .alpha   {
	font-size: $font-size__large;
	font-weight: normal;
	font-family: $font__headings;
	line-height: $font__line-height-headers;
	margin: 0rem 0rem $space;
	> span {
		display: inline-block;
	}
	&.entry-title {
		font-size: $font-size__display;
		font-weight: 100;
		max-width: 13em;
	}
}

h2, .beta    {
	font-size: $font-size__med-3;
	font-family: $font__headings;
	line-height: $font__line-height-headers;
	margin: 0rem 0rem $space;
}

h3, .gamma   {
	font-size: $font-size__med-2;
	font-family: $font__headings;
	line-height: $font__line-height-headers;
	margin: 0rem 0rem $space;
}

h4, .delta   {
	font-size: $font-size__med-3;
	font-family: $font__headings;
	margin: 0rem 0rem $space;
}

h5, .epsilon {
	font-size: $font-size__med-3;
	font-family: $font__headings;
	margin: 0rem 0rem $space;
}

h6, .zeta    {
	font-size: $font-size__med-3;
	font-family: $font__headings;
	margin: 0rem 0rem $space;
}

/* Subheadings */
.title {
	&__subheading {
		display: block;
		font-size: $font-size__small;
	}
	&__gi {
		//margin-top: 0rem;
	}
}
