html {
	font-size: 62.5%;
}
body {
	background: $white;
	font-size: 1.6rem;
	line-height: 1.5;
	font-family: $font;
	font-weight: 400;
	-webkit-text-size-adjust: 100%;
	color: $gray-dark;
}
html,
body{
	@media screen and (max-width: $nav-break) {
		&.nav-open,
		&.nav-subnav-open {
			overflow: hidden;
			height: 100%;
		}
	}
}
.site-content {
	@extend .cf;
	clear: both;
}