/*------------------------------------*\
    $Main
\*------------------------------------*/
html {
	font-size: 62.5%;
}
body {
	font-family: $font;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	min-height: 100vh;
	padding-bottom: $footer-height;
	color: $gray-dark;
	background: $white;

	-webkit-text-size-adjust: 100%;
	.wf-loading & {
		visibility: hidden;
	}
}
html,
body {
	@media screen and (max-width: $nav-break) {
		&.nav-open,
		&.nav-subnav-open {
			overflow: hidden;
			height: 100%;
		}
	}
}
