/*------------------------------------*\
    $Table
\*------------------------------------*/
table {
	border-collapse: collapse; 
	border-spacing: 0; 
	border: $border__thin solid $gray;
	width: 100%;
	margin: 0rem 0rem $space;
}
th {
	text-align: left;
	border: $border__thin solid $gray;
	padding: $pad * 0.2;
}
td {
	border: $border__thin solid $gray;
	padding: $pad * 0.2;
}