.jspdx-icon-advanced-alt-white { background-image: url('png/advanced-alt-white.png'); background-repeat: no-repeat; }

.jspdx-icon-advanced-alt { background-image: url('png/advanced-alt.png'); background-repeat: no-repeat; }

.jspdx-icon-advanced { background-image: url('png/advanced.png'); background-repeat: no-repeat; }

.jspdx-icon-bowen-font { background-image: url('png/bowen-font.png'); background-repeat: no-repeat; }

.jspdx-icon-bowen-primary { background-image: url('png/bowen-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-bowen-white { background-image: url('png/bowen-white.png'); background-repeat: no-repeat; }

.jspdx-icon-bowen { background-image: url('png/bowen.png'); background-repeat: no-repeat; }

.jspdx-icon-construction_execs-font { background-image: url('png/construction_execs-font.png'); background-repeat: no-repeat; }

.jspdx-icon-construction_execs-primary { background-image: url('png/construction_execs-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-construction_execs-white { background-image: url('png/construction_execs-white.png'); background-repeat: no-repeat; }

.jspdx-icon-construction_execs { background-image: url('png/construction_execs.png'); background-repeat: no-repeat; }

.jspdx-icon-flux-alt-white { background-image: url('png/flux-alt-white.png'); background-repeat: no-repeat; }

.jspdx-icon-flux-alt { background-image: url('png/flux-alt.png'); background-repeat: no-repeat; }

.jspdx-icon-flux { background-image: url('png/flux.png'); background-repeat: no-repeat; }

.jspdx-icon-font-linkedin-sign-font { background-image: url('png/font-linkedin-sign-font.png'); background-repeat: no-repeat; }

.jspdx-icon-font-linkedin-sign-primary { background-image: url('png/font-linkedin-sign-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-font-linkedin-sign { background-image: url('png/font-linkedin-sign.png'); background-repeat: no-repeat; }

.jspdx-icon-font-search-font { background-image: url('png/font-search-font.png'); background-repeat: no-repeat; }

.jspdx-icon-font-search-primary { background-image: url('png/font-search-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-font-search { background-image: url('png/font-search.png'); background-repeat: no-repeat; }

.jspdx-icon-font-twitter-sign-font { background-image: url('png/font-twitter-sign-font.png'); background-repeat: no-repeat; }

.jspdx-icon-font-twitter-sign-primary { background-image: url('png/font-twitter-sign-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-font-twitter-sign { background-image: url('png/font-twitter-sign.png'); background-repeat: no-repeat; }

.jspdx-icon-logo { background-image: url('png/logo.png'); background-repeat: no-repeat; }

.jspdx-icon-sga-font { background-image: url('png/sga-font.png'); background-repeat: no-repeat; }

.jspdx-icon-sga-primary { background-image: url('png/sga-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-sga-white { background-image: url('png/sga-white.png'); background-repeat: no-repeat; }

.jspdx-icon-sga { background-image: url('png/sga.png'); background-repeat: no-repeat; }

.jspdx-icon-valley-font { background-image: url('png/valley-font.png'); background-repeat: no-repeat; }

.jspdx-icon-valley-primary { background-image: url('png/valley-primary.png'); background-repeat: no-repeat; }

.jspdx-icon-valley-white { background-image: url('png/valley-white.png'); background-repeat: no-repeat; }

.jspdx-icon-valley { background-image: url('png/valley.png'); background-repeat: no-repeat; }

